<% include partials/_header %>

<p>Tipos de vehiculos</p>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/tipovehiculos" method="post">
                        <div class="form-group">
                            <input type="text" name="tipo" placeholder="Tipo" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">
                        Guardar Tipo
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-bordered table-over">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) {%>
                        <% for (var i = 0; i < data.length; i++) {%>
                            <tr>
                                <td><%= (i + 1) %></td>
                                <td><%= data[i].tipo %></td>
                                <td>
                                    <a href="#" class="btn btn-danger">Eliminar</a>
                                    <a href="#" class="btn btn-info">Modificar</a>
                                </td>
                            </tr>
                        <% }%>
                    <% }%>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

<% include partials/_footer %>